<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event_language.name %>
</p>


<%= link_to 'Edit', edit_event_language_path(@event_language) %> |
<%= link_to 'Back', event_languages_path %>
