<table width="100%"><tr><td class="pgtitle">View Language</td><td align="right"></td></tr></table>

<table class="tabtable1">			
			
							
				<tr>
					<td width="123" class="fldlable">Name : </td>
					<td width="309"><%= @event_language.name %></td>				   
				</tr>
				
				
				<tr>
				<td align="center"></td>
				    <td align="center">
				<%= link_to 'Edit', edit_admin_event_language_path(@event_language), :class=>"button" %>&nbsp;<%= link_to 'Back', admin_event_languages_path, :class=>"button" %>

</td>
				 
				</tr>			
			</table>

