<%= render 'layouts/header_admin'  %>

<table class="contentTable" >
	<tr>
		<td class="lefttd"><div class="lefttop"><%= render 'layouts/leftmenu'  %></div></td>
		<td id="contentMain">
    	<div class="content">


<%= yield %>

 </div>
		</td>
	</tr>
</table>


<div id="footer" class="footer" name="footer"></div>


</body>
</html>
